@{
    ViewData["Title"] = "Cadastro de Orgãos de Licenciamento";
    Layout = "~/Views/Shared/_LayoutADM.cshtml";
}


@section js{
    <script src="~/view/OrgaoLicenciamento/cadastro.js"></script>
}

<div class="col-md-8">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Cadastro de Orgãos de Licenciamento</h4>
            <p class="card-category">Preencha o formulário para cadastrar um Orgão.</p>
        </div>
        <div class="card-body">         
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="descricao">Descrição</label>
                        <input type="text" class="form-control" id="descricao">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="valor">Valor</label>
                        <input type="number" class="form-control" id="valor">
                    </div>
                </div>
                <div id="divMsg"></div>
                <div class="text-center">
                    <input type="button" class="btn btn-primary" value="CADASTRAR" id="btnCadastrar" onclick="cadastro.btnCadastrar()" />
                </div>
            </form>
        </div>
    </div>
</div>