@{
    ViewData["Title"] = "Cadastro de Cliente";
    Layout = "~/Views/Shared/_LayoutADM.cshtml";
}


@section js{
    <script src="~/view/Cliente/cadastro.js"></script>
}

<div class="col-md-8">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Cadastro de Cliente</h4>
            <p class="card-category">Preencha o formulário para cadastrar um Cliente.</p>
        </div>
        <div class="card-body">         
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="login">Login</label>
                        <input type="text" class="form-control" id="login">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="senha">Senha</label>
                        <input type="password" class="form-control" id="senha">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="nome">Nome Completo</label>
                        <input type="text" class="form-control" id="nome">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="cpf">CPF</label>
                        <input type="text" class="form-control" id="cpf">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="rg">RG</label>
                        <input type="text" class="form-control" id="rg">
                    </div>
                </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="telefone">Telefone</label>
                            <input type="text" class="form-control" id="telefone">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="endereco">Endereco</label>
                            <input type="text" class="form-control" id="endereco" placeholder="exemplo: Rua:blalabla, 23">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="bairro">Bairro</label>
                            <input type="text" class="form-control" id="bairro">
                        </div>
                    </div>
                        <div class="form-row">

                            <div class="form-group col-md-4">
                                <label for="cep">CEP</label>
                                <input type="text" class="form-control" id="cep">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="uf">Estado</label>
                                <select class="form-control" id="uf" style="background-color: #202940" onchange="cadastro.buscarCidades(this.value)">
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="selCidade">Cidade</label>
                                <select class="form-control" style="background-color: #202940" id="selCidade">
                                </select>
                            </div>


                        </div>

                        <div id="divMsg"></div>
                        <div class="text-center">
                            <input type="button" class="btn btn-primary" value="CADASTRAR" id="btnCadastrar" onclick="cadastro.btnCadastrar()" />
                        </div>
</form>
        </div>
    </div>
</div>